.box{
    width: 30%;
    height: 85%;
}

.img-box{
    margin-top: 5%;
    height: 60%;
}

.img-box img{
    height: 60%;
    max-width: 100%;
    margin: auto;
    display: block;
}

.left-team{
    position: absolute;
    left: 10%;
    background-color: lightcoral;
}

.right-team{
    position: absolute;
    right: 10%;
    background-color: lightgreen;
}

.middle-line{
    background-color: black;
    width: 1%;
    position: absolute;
    left: 49.5%;
    height: 500px;
}



.right-team img{
    transform: scaleX(-1);
}

.pick-box{
    background-color: lightgray;
    font-size: 4vw;
    color: black;
    width: 35%;
    text-align: center;
    border: 3px black solid;
    margin: auto;
    margin-top: 10%;
}

#previous-game{
    position: absolute;
    bottom: 3%;
    left: 0%;
    height: 10%;
    width: 10%;
    text-align: center;
    margin: 0;
}

#left-arrow{
    height: 75%;
}

#next-game{
    position: absolute;
    bottom: 3%;
    right: 0%;
    height: 10%;
    width: 10%;
    text-align: center;
    margin:0;
}

#right-arrow{
    height: 75%;
    transform: scaleX(-1);
}

.score-box{
    color: red;
    position: absolute;
    bottom: 10%;
    width: 20%;
    left: 40%;
    height: 10%;
    font-size: 2vw;
    text-align: center;
    line-height: 200%;
}